.root{
    -fx-background-color: white;
}

.button{
    -fx-background-radius: 0;
}

#button-smallfont{
    -fx-font-size: 10px;
    -fx-background-color: white;
}

#button-bigfont{
    -fx-font-size: 25px;
    -fx-text-weight: bold;
    -fx-background-color: white;
}

#button-bigfontWithColor{
    -fx-font-size: 25px;
    -fx-text-weight: bold;
    -fx-background-color: lightgray;
}

#button-mistakefont{
    -fx-font-size: 25px;
    -fx-text-fill: red;
    -fx-background-color: white;
}

#square-highlighted{
    -fx-background-color: yellow;
}

#square-notHighlighted{
    -fx-background-color: white;
}

#selectedSudoku{
    -fx-background-color: lightgreen;
}
