.root{
    -fx-background-color: white;
}

.button{
    -fx-background-radius: 0;
}

#button-smallfont{
    -fx-font-size: 10px;
}

#button-bigfont{
    -fx-font-size: 25px;
    -fx-text-weight: bold;
}

#button-mistakefont{
    -fx-font-size: 25px;
    -fx-text-fill: red;
}

#square-highlighted{
    -fx-background-color: yellow;
}

#square-notHighlighted{
    -fx-background-color: white;
}
